

.Chat{
    display: flex;
    flex-direction: row;
    position: fixed;
    margin-top: var(--nav-size);
    width: calc(100% -15rem);
    height: calc(100%-var(--nav-size));
    overflow: hidden;
}


.Chat * {
    animation: fadeInAnimation ease .4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
    