

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


.ChatContainerSidebar{
    display: flex;
    flex-direction: column;
    width: 15rem;
    background-color:var(--bg-d-accent);
    z-index: -99999;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;;
    color: var(--text-c);
}
.ChatContainer{

    display: flex;
    flex-direction: column;
    height: clamp(fit-content);
    width: 100%;
}

.ChatContainer .dm{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 8vh;
    border-bottom: 2px solid var(--bg-m);
    background-color:rgb(27, 27, 27);
    transition:  0.2s all ease;   
    cursor:pointer;
}



.ChatContainer .dm:last-child{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;;
 
}


.ChatContainer .dm .messageContainer{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
height: 8vh;
width: 100%;
overflow: hidden;

}
.ChatContainer .dm .messageContainer .messagePreview{
    display:none;
   
    justify-content: flex-start;
    align-items: center;
    height:5vh;
    width: 100%;
    margin-left: 1rem;
    overflow: hidden;
    animation: fadeIn 0.6s ease-in;



}

.ChatContainer .dm .messageContainer .messagePreview p{

    height: fit-content;
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    opacity:1;
    transform:skewX(-10deg);
}

    @keyframes fadeIn {
        from{
        
            opacity: 0;
        }
        to{
         opacity:1; 
        }
  }

.ChatContainer .dm .messageContainer .profileContent{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    height:5vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    width: 100%;
    background-color: var(--bg-d-accent);
    user-select:none;
    }
    
    


.ChatContainer .dm .messageContainer .profileContent .pfp{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 5vh;
    width: 5vh;
    padding-left: 1rem;
    
}
.ChatContainer .dm .messageContainer .profileContent .pfp img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    

}

.ChatContainer .dm .messageContainer .profileContent .pfp .status{
    position:absolute;
    height:10px;
    width: 10px;
    border-radius: 50%;
    background-color:rgb(88, 214, 88);
    z-index: 9999;
}

.ChatContainer .dm .messageContainer .profileContent .username{
    color: var(--bg-m);
    font-weight: 500;
    margin-left: 1rem;
}

.ChatContainer .dm:hover, .ChatContainer .dm:hover /* => */ .messageContainer{
    height: 13vh;

    transition-delay:0.3s;

}



.ChatContainer .dm:hover .messagePreview{
    display: flex;
    

}
