.ChatWindowContainer{
    display: flex;

    flex-direction: column;
    height: 100%;
    width: calc(100% - 15rem);
    background-color:inherit;

}


.ChatName{
    display: flex;
    align-items: center;
    height: 6vh;
    width: 100%;
    background-color: var(--bg-m);
    color: var(--text-c);
    cursor:default;
    user-select: none;
}

.ChatName .GlobeIcon{
    color: var(--text-c);
    scale: 2;
    padding-left: 0.9rem;
}

.ChatName h2{
    width: 100px;
    padding-left:1.7rem;
}
.ChatWindowContainer .ChatWindowMessageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(84vh - var(--nav-size));
    width: 100%;
    z-index: 2212;
    overflow-y:auto;


}

.ChatWindowContainer .ChatWindowMessageContainer::-webkit-scrollbar{
    display: none;
  }

.ChatWindowContainer .ChatWindowMessageContainer:last-child{
    margin-top: auto;

}


.MessageHr{
    width: 99%;
    background-color: var(--text-c);
    opacity: 0.1;
}
.ChatWindowContainer .ChatWindowMessageContainer .Message{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: clamp(7vh, fit-content);
    padding: 1rem 0;
    
}

.ChatWindowContainer .ChatWindowMessageContainer .Message .ChatContent{
    width:calc(100% - 10rem);
    height: fit-content;
    margin-top: 0.3rem;

}

.ChatWindowContainer .ChatWindowMessageContainer .SameUserMessage .ChatContent{
    width:calc(100% - 5rem);
}

.ChatWindowContainer .ChatWindowMessageContainer .Message .ChatContent .ChatHeader{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    

    

}
.ChatWindowContainer .ChatWindowMessageContainer .Message .ChatContent .ChatHeader .HeaderUsername {
    display: flex;
    align-items: flex-end;
    width: fit-content;
    color: var(--bg-m);
    font-size: 1.2rem;
    font-weight: 800;
    white-space: nowrap;
    cursor: pointer;
}


.ChatWindowContainer .ChatWindowMessageContainer .Message .ChatContent .ChatHeader .HeaderDate{
    display: flex;
    align-items: flex-end;
    width: fit-content;
    color: var(--text-c);
    opacity: 0.7;
    font-size: 0.8rem;
    font-weight: 400;
    white-space: nowrap;
    margin-bottom: 0.16rem;
} 

.ChatWindowContainer .ChatWindowMessageContainer .Message .ChatPfp{
    display: flex;
    align-items: center;
    justify-content: center;
    height:7vh;
    width: 5rem;
    
}
.ChatWindowContainer .ChatWindowMessageContainer .Message .ChatPfp img{
    aspect-ratio: 1/1;
    width: 5vh;

    border-radius: 50%;
    cursor:pointer;
    user-select: none;


}

.Message .MessageText, .SameUserMessage .MessageText{
    display: flex;
    height: fit-content;
    max-width: 100%;
    overflow: hidden;
    width: fit-content;
    overflow: hidden;
    color: var(--text-c);
    margin-top: 0.1rem;

}

.SameUserMessage .MessageText{

    margin-left: 5rem;

}




.MessageText p{
    height: fit-content;
    word-break: break-all;



}


.ChatWindowContainer .ChatWindowMessageContainer .SameUserMessage {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: clamp(3vh,fit-content);
    padding:0 0 1rem 0;
}


.SameUserMessage .MessageText{
    display: flex;
    height: fit-content;
    max-width: 100%;
    overflow: hidden;
    width: fit-content;
    overflow: hidden;
    color: var(--text-c);
    margin-top: 0.1rem;
    margin-left: 5rem;
}



.ChatWindowContainer .MessageBox{
    height: 10vh;
    width:100%;
    background-color:var(--bg-d-l);
    box-shadow: rgba(0, 0, 0, 0.2) 0px -10px 30px;;

}