.userContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}

.userContainer * {
   animation: none;
}
.hasLoadedInOnce *{
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;}



.noUserFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: auto;
}

.noUserFound .icon{
    color:var(--bg-m);
    font-size: 10rem;
    background-color: var(--bg-d);
    padding: 2rem;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.noUserFound h4{
    font-size: 1.5rem;
    display: flex;
    white-space: nowrap;
    gap: .5rem;
    color: var(--text-color);
}
.noUserFound h4 .noUserFoundSearchedName {
    color: var(--bg-m);
    font-weight: 900 !important;
}
.noUserFound .goBack {
    background-color: var(--bg-m);
    padding: .75rem 2rem;
    border-radius: 2rem;
    text-decoration: none;
    color:var(--bg-d);
    font-weight: 700;
    margin-top: 2vh;
    
}

.noUserFound .goBack:hover {
    background-color:var(--bg-l);
    transition: 0.2s;
}

.userProfile {
    width: 50vw;
    transition: all .6s ease-in-out;
    padding: 1rem;
    height: 70vh;
    border-radius: 8px;
    background-color: var(--bg-d);
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    
}


.userProfile .userProfile-pfp-div {
    position: relative;
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userProfile .userProfile-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 10rem;
    gap: 4%;
}
.userProfile .userProfile-header .userProfile-header-information{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.userProfile .userProfile-header .userProfile-header-information .userProfile-username-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    color: var(--text-color);
}

.userProfile .userProfile-header .userProfile-header-information .userProfile-username-div  .userHandling-button {
    border: none;
    outline: none;
    background-color: var(--bg-m);
    padding: .2rem 1rem;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5);
}

.userProfile .userProfile-header .userDetails {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    height: clamp(190%, 100%, 100%);
    justify-content: flex-end;
    gap: 1rem;
}
.userProfile .userProfile-header .userDetails  h4 {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.userProfile .userProfile-header .userDetails  h4 .circle {
    color: gray;
    font-size: .5rem;
}

.userProfile .userProfile-header .userDetails  h4 p {
    color: gray;
}

.userProfile .viewMore {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.userProfile .viewMore .select {
    display: flex;
    flex-direction: column;   
    position: relative;
}

.userProfile .viewMore .select ul {
    user-select: none;
    display: flex;
    gap: 2rem;
    height: 40px;
    align-items: center;
}

.userProfile .viewMore .select hr {
    position: absolute;
    bottom: -3px;
    width: 100%;
    z-index: 1;
    background-color: var(--bg-m);
    border: 2px solid  var(--bg-d-l);
    max-height: 2px;
}


.userProfile .viewMore .select ul li {
    position: relative;
    height: 100%;
    color: var(--text-color);
    z-index: 2;
    cursor: pointer;
}
.userProfile .viewMore .select ul li {
    position: relative;
    font-weight:900;
    font-size: 1.1rem;
}

.userProfile .viewMore .select ul .select-active {
    margin-top: 2px;
    border-bottom: 2px solid var(--bg-l);
}

.userProfile .viewMore .select ul li:hover {
    margin-top: 2px;
    border-bottom: 2px solid var(--bg-l);
}

.userProfile .viewMore .content {
    width: 100%;
    height: 50%;
}

.profile-pic {
    height: 100%;
    width: 100%;
    color: transparent;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
    border-radius: 50%;
  }
  .profile-pic input {
    display: none;
  }
  .profile-pic img {
    width: 100%;
    aspect-ratio: 1/1;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
    border-radius: 50%;
    z-index: 0;
  border-radius: 50%;
  }
  .profile-pic .-label {
    display: none;
    cursor: pointer;
    height: 100%;
    width: 100%;
    transition: background-color 0.2s ease-in-out;
    border-radius: 50%;
  }
  .profile-pic .-label svg {
    font-size: 2rem;

  }

/* Fiza franöver kanske */
  /* .profile-pic:hover .-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    color: rgb(250, 250, 250);
    transition: background-color 0.2s ease-in-out;
    border-radius: 50%;
    margin-bottom: 0;
  }
  .profile-pic span {
    display: inline-flex;
    padding: 0.2em;
    height: 2em;
  } */

.viewMore input[type='file'], 
    .viewMore input[type='submit'] {
    display: none;
}

.viewMore form {
    max-width: auto;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items: flex-start;
}

.viewMore .editProfilePicture {
    background-color: var(--bg-m);
    width: fit-content;
    display: flex;
    white-space: nowrap;
    align-items: center;
    gap: .5rem;
    color: var(--text-color);
    padding: .5rem;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}


.viewMore .savepfpEdits {
    background-color: rgb(52, 199, 89) !important;
}

.viewMore .deleteEdits {
    background-color: red;
}