@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root{
    --bg-d: rgb(29, 29, 31);
    --bg-d-accent: rgb(38, 40, 43);
    --bg-d-l: rgb(53, 57, 65);
    --bg-m: rgb(95, 133, 219); 
    --bg-l: rgb(144, 184, 248);
    --text-c: rgb(218, 220, 225);
    --boxshadow-l: rgba(27, 38, 44 0.2) 0px 18px 50px -10px;
    --red-1: rgb(234, 84, 85);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--bg-d-l);
}
