.forum {
    width: 980px;
    margin-left: calc(50% - 480px);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(var(--nav-size) + 2rem);
}

.create-post-container {
    width: calc(100% - 2rem);
    height: 45px;
    background-color: var(--bg-d-l);
    background-color: var(--bg-d);
    box-shadow: var(--box-shadow1-l);
    border: 1px solid var(--border-color);
    padding: 1rem;
    border-radius: 8px;

    display: flex;
    gap: 1rem;
}
.create-post-container div {
    width: calc(100% - 1rem);
}

.create-post-container .imagepfppreviewpost {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.rmsc  {
    width: 90%;
    margin-left: 26%;
}
.create-post-container .input {
    width: 100%;
    height: 100%;
    display: flex;
}

.create-post-container .input .fakeInput{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: var(--bg-d-accent);
    box-shadow: var(--box-shadow1-l);
    border: 1px solid var(--border-color);
    padding: 0 1rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--text-color);
}

input:hover {
    filter: brightness(1.05);
}
.createPostModal h2 {
    text-align: center;
    width: 100%;
}
.createPostModal label {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.titlePlusTags {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
}
.titlePlusTags section {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;    
}

.titlePlusTags section input {
    width: 100%;
    background-color: red;
}

.createPostModal {
    all: initial;
	width: 35rem !important;
	height: 48rem;
	left: calc(50% - 20rem);
	top: 7.5rem;
	position: fixed;
	z-index: 9 !important;
	background-color: var(--bg-d);
	border-radius: 8px;
	padding: 1rem 2rem; 
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
	animation: dropdown 0.3s ease-in-out;
	color: var(--text-color);
}

.createPostModal .createPostModalTitle {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    padding: 1rem;
    width: 100%;
}

.createpostFooterbuttonCenter {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.createOistFooter {
    background-color: var(--bg-m);
    padding: .5rem 1rem;
    border-radius: 8px;
    border: none;
    color: #fff;
    cursor: pointer;
}
.createOistFooter:hover{
    filter: brightness(1.1);
}

.createPostModal hr {
    width: 100%;
    opacity: .1;
}
.createPostModal input[type="file"] {
    display: none;
}

.createPostModal .editProfilePicture {
    width: fit-content;
    background-color: var(--bg-d-l);
    padding: 1rem;
    background-color: var(--bg-d-l);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    color: var(--text-color);
    display: flex;
    gap: .5rem;
}
.img-selected .specific-img-selected {
    position: relative;
    width: 120px;
}
.img-selected {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: self-start;
    gap: 1.5rem;
    height: 125px;
    transition: .6s ease-in-out;
}
.img-selected p {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-selected p svg {
    color: var(--bg-m);
    font-size: 2rem;
}

.img-selected .specific-img-selected svg {
    position: absolute;
    right: -.5rem;
    top: -.25rem;
    cursor: pointer;
    background-color: var(--red-1);
    color: #fff;
    padding: .5rem;
    border-radius: 50%;
}
.createPostPreviewImg {
    width: 100px !important;
    aspect-ratio: 1/1;
    border-radius: 8px;
    background-color: var(--bg-d-l);
    border: 1px solid var(--border-color);
}


.createPostModal textarea {
    margin-bottom: 1rem;
    padding-top: .5rem !important;
    height: 10rem !important;
    resize: none;
    width: calc(90% - 0rem) !important;
    transition: .6s ease-in-out;
}

.createPostModal textarea:focus{
    border: 1px solid var(--bg-m);
    outline: none;
}

.createPostModal .inputPost {
    width: calc(90% - .5rem);
    height: 2rem;
    border-radius: 8px;
    background-color: var(--bg-d-l);
    box-shadow: var(--box-shadow1-l);
    border: 1px solid var(--border-color);
    padding: 0 .5rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--text-color);
    transition: .3s ease-in-out;
}
.rmsc .dropdown-container {
    max-width: 95% !important;
    margin-left: -11%;
}



.rmsc .dropdown-heading {
    background-color: var(--bg-d-l);
    box-shadow: var(--box-shadow1-l);
    border-radius: 12px;
    border: none;
    outline: none !important;
}
.createPostModal .inputPost:focus {
    border: 1px solid var(--bg-m);
    outline: none;
}

/* Move to seperate file */
.modal .modal-close {
	position: absolute;
	top: 1rem;
	z-index: 99999;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 1.5rem;
	box-shadow: 0px 1px 2px var(--box-shadow1-l);
	font-size: 2rem;
	cursor: pointer;
    width: fit-content;
}

.modal .modal-close h6 {
	font-size: 0.875rem;
}

.modal .modal-close:hover {
	filter: brightness(1.2);
}

.forumPostPrieviewContainer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    margin-top: 1rem;

}
.forumPostPrieviewContainer .postPreview {
    width: calc(100% - 2rem);
    cursor: pointer;
    padding: 1.5rem 1rem;
    box-shadow: var(--box-shadow1-l);
    border: 1px solid var(--border-color);
    height: 30px;
    background-color: var(--bg-d);
    border-radius: 8px;

    display: flex;
    align-items: center;
    gap: .5rem;
}

.liked {
    color: var(--bg-m) !important;
}

.forumPostPrieviewContainer .postPreview img {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.shareicon {
    margin-top: .4rem;
}

.forumPostPrieviewContainer .postPreview .text {
    padding-left: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 35.9%;
    max-width: 36%;
    overflow: hidden;
}

.forumPostPrieviewContainer .postPreview .text p, 
    .forumPostPrieviewContainer .postPreview .text h3  {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tags {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: .05rem;
}

.forumPostPrieviewContainer .postPreview .stats {
    display: flex;
    gap: .6rem;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}
.timestamp {
    white-space: nowrap;
}


.stats-btn {
    padding: 0.65rem 0.75rem !important;
    cursor: pointer;
    background-color: var(--bg-d-accent);
    box-shadow: var(--boxshadow-l);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: none;
    outline: none;
    color: var(--text-color);}
.shareBtnActive {
    background-color: var(--bg-d-accent) !important;
}
.shareBtnActive svg {
    background-color: var(--bg-d-accent) !important;
}
.forumPostPrieviewContainer .postPreview .tags .tag {
    padding: .2rem .5rem;
    border-radius: 12px;
    font-size: small;
    border: 1px solid var(--border-color);
}

.forumPostController {
    width: calc(100% -2rem);
    padding: 1rem;
    /* padding-bottom: 2rem; */
    background-color: var(--bg-d);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    height: 40px;
    box-shadow: var(--box-shadow1-l);
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}
.forumPostController .search {
    position: relative;
    width: fit-content;
    padding-left: .25rem;
    padding-right: .5rem;
    padding-top: .12rem;
    padding-bottom: .12rem;
    height: 80%;
    border-radius: 12px;
    box-shadow: var(--boxshadow-l);
    border: 1px solid var(--border-color);
    background-color: var(--bg-d-l);
    display: flex;
    align-items: center;   
    gap: 1rem;
    cursor: pointer;
}

/* .forumPostController .search::after {
    content: 'Klicka Enter för att söka';
    position: absolute;
    bottom: -1.75rem;
    font-size: .85rem;
} */


.forumPostController input[type="text"] {
    height: 100% !important;
    background-color: transparent;
    border: none;
}
.forumPostController input[type="text"]:focus{
    background-color: transparent;
    outline: none;
}

