.userContainer {
    overflow-y: scroll;
    width: 100vw;
    height: auto;
    min-height: 85vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--nav-size);
}
.userContainer .userProfile {
    padding-top: 3rem;
    width: 100vw;
    height: 30rem;
    background-color: var(--bg-d);
    display: flex;
    
    justify-content: center;
}

.userContainer .userProfileHeader {
    border-radius: 8px;
    width: 60vw;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.userContainer .userProfileHeader .userProfileHeaderContainer {
    border-radius: 8px;
    width: 100%;
    height: 90%;
    background-image: url('https://media.istockphoto.com/id/1288385045/photo/snowcapped-k2-peak.jpg?s=612x612&w=0&k=20&c=sfA4jU8kXKZZqQiy0pHlQ4CeDR0DxCxXhtuTDEW81oo=');
    background-color: var(--bg-d-l);
    /* background: url("https://source.unsplash.com/9wg5jCEPBsw"); */
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    background-position: center;
    image-rendering: pixelated;
}

.userContainer .userProfileHeader .userProfileHeaderContainer .banner {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.userContainer .userProfileHeader .userProfileHeaderContainer .banner .urserInformation {
    height: 50%;
    width: 95%;
    gap: 1rem;
    display: flex;
}

.userContainer .userProfileHeader .userProfileHeaderContainer .banner .urserInformation .profile-pic {
    /* width: 22.5%; */
    height: 90%;
    margin-top: 1%;
    position: relative;
    aspect-ratio: 1/1;
    /* background-color: red; */
    color: transparent;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
    border-radius: 50%;
}
.userContainer .userProfileHeader .userProfileHeaderContainer .banner .urserInformation .profile-pic img {
    cursor: pointer;
    width: 100%;
    aspect-ratio: 1/1;
    box-shadow: 0 1px 2px var(--box-shadow1-l);
    border-radius: 50%;
    border-radius: 50%;
    z-index: 0;

}

.userContainer .userProfileHeader .userProfileHeaderContainer .banner .userDetailsContainer {
    width: 100%;
    height: 90%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

.userContainer .userProfileHeader .userProfileHeaderContainer .banner .userDetailsContainer .username{
    position: relative;
    border-radius: 4px;
    padding: .5rem 1rem;
    background-color: var(--bg-d-l);
    color: var(--text-color);
    letter-spacing: 1px;
    font-family: system-ui;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.staffBadge {
    background-color: #EA5455;
    padding: 0em .3rem;
    border: 1px solid var(--border-color);
    text-shadow: none;
    border-radius: 8px;
    font-size: .875rem;
}

.userContainer .userProfileHeader .userProfileHeaderContainer .banner .userDetailsContainer .username .circleDot {
    font-size: .6rem;
}

.userContainer .userProfileHeader .userProfileHeaderContainer .banner .userDetailsContainer .username .tooltip {
    width: fit-content;
    position: absolute;
    right: 1rem;
    color: var(--bg-m);
}
.userContainer .userProfileHeader .userProfileHeaderContainer .banner .userDetailsContainer .username svg {
    cursor: pointer;
    font-size: 1.5rem;
}

.userContainer .userProfileHeader .userProfileHeaderContainer .banner .userDetails {
    border-radius: 4px;
    background-color: var(--bg-d-l);
    padding: .5rem 1rem;
    display: flex;
    justify-content: center;
    gap: .5rem;
    height: 70%;
    flex-direction: column;
}
.userContainer .userProfileHeader .userProfileHeaderContainer .banner .userDetails  h4 {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--text-color);
    white-space: nowrap;
}
.userContainer .userProfileHeader .userProfileHeaderContainer .banner .userDetails  h4 .circle {
    color: gray;
    font-size: .5rem;
}

.userContainer .userProfileHeader .userProfileHeaderContainer .banner .userDetails  h4 p {
    color: #ccc;
    white-space: nowrap;
} 

.userContainer .userProfileHeader .userProfileHeaderContainer .banner .handleUserButtonsContianer {
    position: absolute;
    width: calc(100% - 5%);
    height: 5%;
    top: 0;
    border-radius: 4px;
    display: flex;
    gap: .5rem;
    justify-content: flex-end;
    align-items: center;
    padding: 1.5rem 0;
}

.userContainer .userProfileHeader .userProfileHeaderContainer .banner .handleUserButtonsContianer .buttonEditUserProfile {
   display: flex;
   gap: .5rem;
   align-items: center;
   justify-content: center;
   padding: .5rem 1rem;
   background-color: var(--bg-m);
   color: var(--text-color);
   border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.343);
    cursor: pointer;
}

.userContainer .userProfileHeader .userProfileHeaderContainer .banner .handleUserButtonsContianer .report {
    background-color: #EA5455 !important;
}



.userContainer .userProfile ul {
    padding: 1rem 0 2rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}
  
.userContainer .userProfile ul .navbarModalNavLink {
    height: 3rem;
  }
  
  .userContainer .userProfile ul .navbarModal-item {
     border-radius: 8px;
      display: flex;
      height: 100%;
      align-items: center;
      padding: 0rem 1rem;
      color: lightgray;
      cursor: pointer;
      justify-content: space-between;
      gap: 1rem;
  } 
  
  .userContainer .userProfile ul .active .navbarModal-item > *{
    color: var(--bg-m) !important;
  }
  .userContainer .userProfile ul .active .navbarModal-item:hover {
    background-color: transparent;
  }
  
  .userContainer .userProfile ul .navbarModal-item:hover{
      background-color: var(--bg-accent);
  }
  
  .userContainer .userProfile ul .navbarModal-item .navbarModal-item-icon-left
    {
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      justify-content: start;
     }
    
.noUserFound {
    width: 25%;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noUserFound .icon {
    color:var(--bg-m);
    font-size: 10rem;
    background-color: var(--bg-d);
    border-radius: 999px;
    padding: 1rem;
}
.noUserFound h4 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: .2em;
    width: 100%;
}

.noUserFound .noUserFoundSearchedName {
    color: var(--bg-m);
}

.noUserFound .goBack {
    text-decoration: underline;
}