.footer {
    background-color: var(--bg-d);
    width: 100vw;
    min-height: 10rem;
    padding: 2rem 0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer .footer-content {
    width: 85%;
    padding: 1rem;
    height: 100%;
    color: var(--text-c);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .footer-content .breadcrumbs {
    display: flex;
    align-items: center;
    height: 15%;
    width: 100%;
}
.footer .footer-content .breadcrumbs > * {
    color: var(--bg-m);
    font-weight: bold;
    font-size: 1.5vh;
}

.footer .footer-content .breadcrumbs .footer-home {
    color: var(--text-c);
}
.footer .footer-content .breadcrumbs > *:hover {
    text-decoration: underline;
}

.footer .footer-content .breadcrumbs .crumb {
    margin-right: 7px;
    float: left;
    padding: 3px 4px 3px 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    display: flex;
    align-items: center;
}
.footer .footer-content .breadcrumbs .crumb a {
    margin-left: 7px;
    color: var(--text-c);
}

.footer .footer-content .footer-box {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
}

.footer .footer-content .footer-box .footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: calc(100%/3);
}

.footer .footer-content .footer-box .footer-links h3{
    font-weight: bold;
}

.footer .footer-content .footer-box .footer-links .footer-navlink{
    margin: 0.1vh;
}

.footer .footer-content .footer-box .footer-links .footer-navlink:hover{
    color: var(--text-c-hover);
    text-decoration: underline;

}

.footer .footer-info{
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 2vh;
}

.footer .footer-info p {
    color: var(--text-c-hover);
    width: 50%;
    display: flex;
}

.footer .footer-info .footer-logo{
    width: 50%;
}

.footer .footer-info .footer-themes{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer .footer-info .footer-themes .footer-switch{
    border: 2px solid var(--bg-m);
    display: flex;
    border-radius: 5vh;
    padding: 5px;
}

.footer .footer-info .footer-themes .footer-switch .footer-theme{
    padding: 1vh 1vh;
    cursor: pointer;
    border-radius: 2vh;
}

.footer .footer-info .footer-themes .footer-switch .footer-theme:hover{
    padding: 1vh 1vh;
    cursor: pointer;
    border-radius: 5vh;
    background-color: var(--bg-m);
    color: var(--bg-d);
}

.footer .footer-info .footer-themes .footer-switch .footer-space{
    width: 0.5vh;
}

hr{
    width: 85%;
    background-color: var(--text-c);
    opacity: 0.3 !important;
    margin-top: 2vh;
}

.footer .footer-info .logo {
    height: 35px;
}