.formInput{
    display: flex;
    flex-direction: column;
    width: 280px;

}

/* input{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
} */



.formInput .formInpt-input {
    user-select: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    border-radius: 4px;
    box-shadow: var(--box-shadow-l);
    /* sadsadsda */
}
.formInput .formInpt-input input {
    background-color: var(--bg-d-l);

}
.formInput .formInpt-input .passwordEye {
    position: absolute;
    left: 93%;
    top: -4px;
    color:var(--text-c);
    z-index: 9;
    cursor: pointer;
    width: fit-content;
    padding: .7rem;
}

.formInput .formInpt-input input{
    border: none;
    outline: none;
    color: var(--text-color);
    width: calc(100% - .8rem);
    padding: .4rem .8rem;
}


/* https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete */
/* Ända vettiga solutionen jag fann XD :) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}


label{
    font-size: 12px;
    color: gray;
}

.formInput .formInpt-input  .errormessage{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}
/* /*  */
input:invalid[focused="true"]{
    border: 1px solid red;
} 

input:invalid[focused="true"] ~ .errormessage{
    display: block;
}