:root {
    --bg:  #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 4rem;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms; 
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: var(--text-color);
    text-decoration: none;;
  }
  
  /* Top Navigation Bar */
  
  /* <nav> */
  .navbar {
    top: 0;
    position: fixed;
    width: calc(100% - 2rem);
    font-family: roboto;
    height: var(--nav-size);
    background-color: var(--bg-d);
    padding: 0 1.5rem;
    border-bottom: var(--border);
    color: var(--text-color);
    box-shadow: var(--boxshadow-l);

    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999999999999999999999999999;
  }

  .navbar .logo {
    height: 35px;
  }
  
  /* <ul> */
  .navbar-end {
    max-width: 33.3%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .2rem;
  }
  


  /* <li> */
 .nav-item {
    position: relative !important;
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.notificationbell {
  animation: ring 1s ease-in-out;
}

@keyframes ring {
  0% {
      -webkit-transform: rotate(35deg);
      transform: rotate(35deg);
  }
  12.5% {
      -webkit-transform: rotate(-30deg);
      transform: rotate(-30deg);
  }
  25% {
      -webkit-transform: rotate(25deg);
      transform: rotate(25deg);
  }
  37.5% {
      -webkit-transform: rotate(-20deg);
      transform: rotate(-20deg);
  }
  50% {
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg);
  }
  62.5% {
      -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg);
  }
  75% {
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg);
  }
  100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
}

.nav-item .icon-button,
.nav-item .active-navbar-buttonicon-button {
  position: relative;
    --button-size: calc(var(--nav-size) * 0.7);
    width: var(--button-size);
    height: var(--button-size); 
    background-color: var(--bg-d-accent);
    border-radius: 50%;
    height: 67.5%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
} 

.nav-item .active-navbar-buttonicon-button {
  color: var(--bg-m) !important;
}
.nav-item .icon-button svg,
.nav-item .active-navbar-buttonicon-button svg {
  height: 20px;
  width: 20px;
}


.nav-item .navbar-notification-count{
    color: white;
    aspect-ratio: 1/1;
    min-width: 25px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 999px;
    position: absolute;
    z-index: 99;
    top: 2px;
    right: -3px;
}


/* NotLoggedIn NavbarEnd */
.notLoggedInNavButtons {
  display: inline-flex;
  gap: 1rem;  
}
.nav-button {
  color: var(--text-color);
  border: none;
  outline: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: inline-flex;
  --button-size: calc(var(--nav-size) * 0.7);
  height: var(--button-size); 
  background-color: #484a4d;
  padding: 0 .5rem;
  border-radius: 8px;
  align-items: center;
  gap: .4rem;
}
.nav-button:hover {
  /* filter: brightness(1.2); */
}

.nav-button p {
  font-size: .875rem;
  font-weight: bold;
}

.nav-button .nav-button-icon {
  font-size: 1.4rem !important;
  height: 100%;
  display: flex;
  align-items: center;
}



  .dropdown {
    position: absolute;
    top: 58px;
    width: 300px;
    /* transform: translateX(-45%); */
    transform: translateX(-300px);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
  }
  



.navbarModal {
    all:initial;
    position: fixed;
    top: 58px;
    width: 300px;
    height:39vh;
    transform: translateX(-260px);
    z-index: 99999 !important;
    background-color: var(--bg-d-accent);
    border-radius: 4px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;;
    animation: dropdown .3s ease-in-out;
 
}
@keyframes dropdown {
  0% {
    opacity: 0;
    max-height: 0%;
    margin-left: -.5rem;
    padding-left: .5rem;
    padding-right: .5rem;

  }

  100% {
    margin-left: 0rem;
    opacity: 1;
    padding-left: 0;
    padding-right: 0;
      max-height: 39vh;
  }
}

.navbarModal .navbarModalNavLink {
  width: 100%;
  margin-left: 10%;
}

.navbarModal .navbarModal-item {
  border-radius: 8px;
  display: flex;
  height: 40px;
  align-items: center;
  padding: 0rem 1rem;
  width: 80%;
  color: gray;
  justify-content: space-between;
  cursor: pointer;
}



.navbarModal .navbarModal-item:hover {
  background-color: var(--bg-accent);
}

.notifyModa .title {
  padding: 0 1rem;
}

.navbarModal .navbarModal-item .navbarModal-item-icon-left
{
  color: lightgray;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  justify-content: start;
  width: 20%;
}

.navbarModal .navbarModal-item .navbarModal-item-icon-right {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  transition: all 0.6s ease-in-out !important;
}
.navbarModal .navbarModal-item .navbarModal-item-icon-right .active {
  transition: 0.6s ease-in-out;
  transform: rotate(90deg);
}
.navbarModal .navbarModal-item .navbarModal-label{
  text-align: start;
  width: 55%;
  color: var(--text-color);
  
}

.navbarModal hr {
  height: 1px;
  background-color: var(--bg-accent);
  width: 90%;
  border: none;
  margin: .5rem 0;
}

.navbar-links {
  display: inline-flex;
  gap: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-color);
  font-weight: bold;
  transition: color 2s;
}
.navbar-links  li {
  cursor: pointer;
}

.navbar-links  li:hover {
  color: #b5b7bb;
}




/* navbarItem Toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  top: 3px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--bg-m);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}